// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* .location {
  display: flex;
  min-width: 48.8%;
  margin-top: 50px;
}

.state{
 margin-left: 20px;

}

.dropdown-menu{
 position: absolute;

}

.aboutme{
  border: 2px solid;
  padding: 20px;
  width: 300px;
  resize: both;
  overflow: auto;
}
 */

* {
  margin: 0px;
  padding: 0px;
}

.avatar {
  display: flex;
}

.linkedin {
  display: flex;
}

.github {
  display: flex;
}
